
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.p-8 {
  padding: 5% 15%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.text-shadow-gold {
  text-shadow: 0 0 3px #45a3b1;
}

.text-shadow-gray {
  text-shadow: 1px 1px 3px #939391;
}